{% load static %}
{% if filters %}
{% for filter in filters %}
  {% if filter.is_active == True %}
    <div class="list-group-item bg-light p-2 lh-sm mb-2 border-1 user-select-none" id="filter" value="{{ filter.pk }}" aria-current="true">
  {% elif filter.is_active == False %}
    <div class="list-group-item list-group-item-action p-2 lh-sm mb-2 border-1 user-select-none" id="filter" value="{{ filter.pk }}" aria-current="true">
  {% endif %}
  <span class="d-flex align-items-center justify-content-between mb-1">
    <strong class="smaller">Filter {{ filter.pk }}</strong>
    <a href="{% url 'delete-filter' filter.id %}" class="bg-transparent">
      <img class="bi pe-none" width="14" height="14" src="{% static 'dashboard/images/delete.svg' %}" style="filter: invert(1);"></img>
    </a>
  </span>
  <div class="text-muted text-truncate smaller me-1 mb-2">
    Text filter : {{ filter.text_filter }}
  </div>
  <div class="text-muted text-truncate smaller me-1 mb-2">
    Translation filter : {{ filter.translation_filter }}
  </div>
  <span class="d-flex align-items-center">
    <div class="text-muted smaller me-1">
      above {{ filter.view_count }} views
    </div>
    <div class="text-muted smaller me-1">
      above {{ filter.share_count }} shares
    </div>
    <div class="text-muted smaller me-1">
      from {{ filter.start_date }}
    </div>
    <div class="text-muted smaller me-1">
      until {{ filter.end_date }}
    </div>
  </span>
</div>
{% endfor %}
{% endif %}