<!doctype html>
<html lang="en">
  <head>
    {% load compress %}
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Landry Pierrefitte">
    <title>Teledeck Dashboard</title>
    <link rel="icon" type="image/x-icon" href="{% static 'dashboard/favicon/favicon.svg' %}">
    {% compress css %}
    <link type="text/x-scss" href="{% static 'dashboard/styles/styles.scss' %}" rel="stylesheet">
    {% endcompress %}
    <script src="{% static 'dashboard/scripts/modules/d3.js' %}"></script>
    <script type="module" src="{% static 'dashboard/scripts/main.js' %}" defer=""></script>
  </head>
  <body>
    {% load crispy_forms_tags %}
    <main class="d-flex flex-nowrap vh-100 bg-light" id="main">
      
      <div class="d-flex flex-column p-3 bg-dark" style="min-width: 260px;">
        <div class="d-flex align-items-center text-white mb-3 mb-md-0 me-md-auto user-select-none">
          <img class="bi pe-none me-2" width="36" height="36" src="{% static 'dashboard/images/logo.svg' %}"></img>
          <span class="fs-4">Teledeck</span>
        </div>
        <hr class="border border-secondary border-1">
        <div class="container-fluid">
          <div class="navbar-nav navbar-dark bg-dark" id="navbarColor01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
              <li class="nav-item" id="nav-general">
                <div class="d-flex nav-link user-select-none align-items-center">
                  <img class="bi pe-none ms-2 me-2" width="22" height="22" src="{% static 'dashboard/images/home.svg' %}"></img>
                  Global view
                </div>
              </li>
              <li class="nav-item" id="nav-sources">
                <div class="d-flex nav-link user-select-none align-items-center">
                  <img class="bi pe-none ms-2 me-2" width="22" height="22" src="{% static 'dashboard/images/sources.svg' %}"></img>
                  Sources
                </div>
              </li>
              <li class="nav-item" id="nav-filtres">
                <div class="d-flex nav-link user-select-none align-items-center">
                  <img class="bi pe-none ms-2 me-2" width="22" height="22" src="{% static 'dashboard/images/search.svg' %}"></img>
                  Filters
                </div>
              </li>
              <li class="nav-item" id="nav-messages">
                <div class="d-flex nav-link user-select-none align-items-center">
                  <img class="bi pe-none ms-2 me-2" width="22" height="22" src="{% static 'dashboard/images/messages.svg' %}"></img>
                  Messages
                </div>
              </li>
              <li class="nav-item" id="nav-details">
                <div class="d-flex nav-link user-select-none align-items-center">
                  <img class="bi pe-none ms-2 me-2" width="22" height="22" src="{% static 'dashboard/images/details.svg' %}"></img>
                  Details
                </div>
              </li>
              <li class="nav-item" id="nav-analysis">
                <div class="d-flex nav-link user-select-none align-items-center">
                  <img class="bi pe-none ms-2 me-2" width="22" height="22" src="{% static 'dashboard/images/bootstrap-icons/graph-up.svg' %}" style="filter: invert(1)"></img>
                  Quantitative analysis
                </div>
              </li>
              <li class="nav-item" id="nav-update">
                <div class="d-flex nav-link user-select-none align-items-center">
                  <img class="bi pe-none ms-2 me-2" width="22" height="22" src="{% static 'dashboard/images/bootstrap-icons/arrow-down-circle.svg' %}" style="filter: invert(1)"></img>
                  Update data
                </div>
              </li>
            </ul>
          </div>
        </div>
        <hr class="border border-secondary border-1 mt-auto">
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ parameters.user_picture }}" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong class="ms-2">{{ user.first_name }} {{ user.last_name }}</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><div class="dropdown-item user-select-none" id="settings">Settings</div></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="sign-out">Sign out</a></li>
          </ul>
        </div>
      </div>

      <div class="d-flex b-example-divider b-example-vr"></div>

      <div class="d-none flex-column flex-shrink-0 p-3 bg-light resizable" style="width: 280px;" id="sources">
        <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto user-select-none">
          <img class="bi pe-none me-2" width="30" height="24" src="{% static 'dashboard/images/sources.svg' %}" style="filter: invert(1);"></img>
          <span class="fs-4">Sources</span>
        </div>
        <hr>
        <ul class="list-unstyled ps-0 scrollarea" id="source-list">
          {% for group in groups %}
            <li class="mb-1">
              <span class="d-flex justify-content-between align-items-center nowrap">
                <button class="btn btn-toggle d-inline-flex align-items-center border-0 collapsed bg-transparent shadow-none" data-bs-toggle="collapse" data-bs-target="#{{ group.channel_group }}-collapse" aria-expanded="false" id="group-toggle">
                  {{ group.channel_group }}
                </button>
                <form class="form-check form-switch">
                  {% if group.group_toggle == True %}
                    <input class="form-check-input shadow-none" id="{{ group.channel_group }}" type="checkbox" role="switch" type="submit" id="flexSwitchCheckDefault" checked>
                  {% elif group.group_toggle == False %}
                    <input class="form-check-input shadow-none" id="{{ group.channel_group }}" type="checkbox" role="switch" type="submit" id="flexSwitchCheckDefault">
                  {% endif %}
                </form>
              </span>
              <div class="collapse" id="{{ group.channel_group }}-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  {% for channel in channels %}
                    {% if channel.channel_group == group.channel_group %}
                      <li>
                        <span class="d-flex justify-content-between align-items-center ms-3 mb-1 nowrap">
                          {% if channel.channel_toggle == True %}
                            <div class="link-dark text-decoration-none rounded ellipsis bg-selected user-select-none ps-2 pe-2 p-1" id="channel">{{ channel.channel_name }}</div>
                          {% elif channel.channel_toggle == False %}
                            <div class="link-dark text-decoration-none rounded ellipsis user-select-none ps-2 pe-2 p-1" id="channel">{{ channel.channel_name }}</div>
                          {% endif %}
                          <div class="d-flex justify-content-between align-items-center p-1 rounded" id="delete-channel" value="{{ channel.channel_name }}">
                            <img class="bi pe-none me-2" width="14" height="14" src="{% static 'dashboard/images/bootstrap-icons/trash.svg' %}"></img>
                          </div>
                        </span>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </li>
          {% endfor %}
        </ul>

        <hr>

        <p>
          <button class="d-flex btn btn-secondary align-items-center shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#add-source" aria-expanded="false" aria-controls="add-source">
            <span class="flex-grow-1 fs-6 me-3">Add source</span>
            <img class="bi pe-none" width="16" height="16" src="{% static 'dashboard/images/menu.svg' %}"></img>
          </button>
        </p>
        <div class="row">
          <div class="col">
            <div class="collapse" id="add-source">
              <form>
                {% csrf_token %}
                {{ add_channel|crispy }}
              </form>
              <button class="btn btn-secondary mt-3 fs-3 p-1" aria-expanded="false" aria-controls="add-source" id="add-channel-button">+</button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-none b-example-divider b-example-vr"></div>

      <div class="d-none flex-column flex-shrink-0 p-3 bg-light resizable" style="width: 250px;" id="filtres">
        <div class="d-flex align-items-center flex-shrink-0 user-select-none">
          <img class="bi pe-none me-2" width="30" height="24" src="{% static 'dashboard/images/search.svg' %}" style="filter: invert(1);"></img>
          <span class="fs-4">Filters</span>
        </div>

        <hr>
        
        <div id="filter-detail" class="scrollarea">
          {% if filters %}
            {% for filter in filters %}
            <div class="list-group-item list-group-item-action p-2 lh-sm mb-2 border-1 user-select-none" id="filter" value="{{ filter.pk }}" aria-current="true">
            <span class="d-flex align-items-center mb-1">
              {% if filter.filter_name %}
              <strong class="smaller" id="filter-name">Filter {{ filter.filter_name  }}</strong>
              {% else %}
              <strong class="smaller" id="filter-name">Filter {{ filter.pk  }}</strong>
              {% endif %}
              {% if filter.is_active == True %}
              <a href="#" class="bg-transparent ms-auto" id="toggle-filter" value="{{ filter.pk }}">
                <img class="bi pe-none" width="14" height="14" src="{% static 'dashboard/images/bootstrap-icons/check-square.svg' %}"></img>
              </a>
              {% elif filter.is_active == False %}
              <a href="#" class="bg-transparent ms-auto" id="toggle-filter" value="{{ filter.pk }}">
                <img class="bi pe-none" width="14" height="14" src="{% static 'dashboard/images/bootstrap-icons/square.svg' %}"></img>
              </a>
              {% endif %}
              <a href="#" class="bg-transparent ms-2" id="delete-filter" value="{{ filter.pk }}">
                <img class="bi pe-none" width="14" height="14" src="{% static 'dashboard/images/bootstrap-icons/trash.svg' %}"></img>
              </a>
            </span>
            {% if filter.text_filter %}
              <div class="text-muted text-truncate smaller me-1 mb-2">
                Text filter : {{ filter.text_filter }}
              </div>
            {% endif %}
            {% if filter.translation_filter %}
              <div class="text-muted text-truncate smaller me-1 mb-2">
                Translation filter : {{ filter.translation_filter }}
              </div>
            {% endif %}
            <span class="d-flex align-items-center">
              {% if filter.view_count %}
                <div class="text-muted smaller me-1">
                  above {{ filter.view_count }} views
                </div>
              {% endif %}
              {% if filter.share_count %}
                <div class="text-muted smaller me-1">
                  above {{ filter.share_count }} shares
                </div>
              {% endif %}
              {% if filter.start_date  %}
                <div class="text-muted smaller me-1">
                  from {{ filter.start_date }}
                </div>
              {% endif %}
              {% if filter.end_date  %}
                <div class="text-muted smaller me-1">
                  until {{ filter.end_date }}
                </div>
              {% endif %}
            </span>
          </div>
          {% endfor %}
          {% endif %}
        </div>

        <hr>
        <p>
          <button class="d-flex btn btn-secondary align-items-center shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#create-filter" aria-expanded="false" aria-controls="create-filter">
            <span class="flex-grow-1 fs-6 me-3">New filter</span>
            <img class="bi pe-none" width="16" height="16" src="{% static 'dashboard/images/menu.svg' %}"></img>
          </button>
        </p>
        <div class="collapse" id="create-filter">
          <form class="mb-2" action="create-filter" method="post">
            {% csrf_token %}
            {{ create_filter|crispy }}
          </form>
          <button class="btn btn-secondary mt-3 fs-3 p-1" aria-expanded="false" id="create-filter-button">+</button>
        </div>

      </div>

      <div class="d-none b-example-divider b-example-vr"></div>

      <div class="d-none flex-column align-items-stretch flex-shrink-0 bg-white p-3 resizable" style="width: 380px;" id="messages">
        <div class="d-flex align-items-center user-select-none">
          <img class="bi pe-none me-2" width="30" height="24" src="{% static 'dashboard/images/messages.svg' %}" style="filter: invert(1);"></img>
          <span class="fs-4">Messages</span>
          <button type="submit" value="" class="btn ms-auto shadow-none message-panel-button" id="sort-by-date" aria-label="Left Align">
            {% if parameters.message_sort_by_date == 'DOWN'  %}
              <img class="bi p-none" src="{% static 'dashboard/images/bootstrap-icons/sort-down.svg' %}" width="18" height="18">
            {% elif parameters.message_sort_by_date == 'UP'  %}
              <img class="bi p-none" src="{% static 'dashboard/images/bootstrap-icons/sort-up.svg' %}" width="18" height="18">
            {% endif %}
            </button>
          <form class="ms-1" action="csv-export" method="post">
            {% csrf_token %}
            <button type="submit" value="" class="btn shadow-none message-panel-button" id="csv-export" aria-label="Left Align">
              <img class="bi p-none" src="{% static 'dashboard/images/bootstrap-icons/filetype-csv.svg' %}" width="18" height="18">
            </button>
          </form>
        </div>
        <div>
          <hr>
        </div>
        <div class="list-group list-group-flush scrollarea" id="message-thread">
          {% if messages %}
            {% for message in messages %}
              <div value="{{ message.id }}" class="list-group-item list-group-item-action p-2 lh-sm user-select-none" id="message-container" aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="text-truncate smaller">{{ message.channel_name }}</strong>
                  <a href="https://t.me/{{ message.channel_name }}/{{ message.message_id }}" class="mb-1 text-muted text-decoration-none">
                    <small class="text-muted smaller">{{ message.message_date }}</small>
                  </a>
                </div>
                <span class="d-flex align-items-center justify-content-end">
                  <div class="text-muted smaller me-1">
                    {{ message.view_count }}
                  </div>
                  <img class="bi pe-none me-2" width="12" height="12" src="{% static 'dashboard/images/views.svg' %}" style="filter: invert(1);"></img>
                  <div class="text-muted smaller me-1">
                    {{ message.share_count }}
                  </div>
                  <img class="bi pe-none" width="12" height="12" src="{% static 'dashboard/images/shares.svg' %}" style="filter: invert(1);"></img>
                </span>
                {% if message.message_text %}
                  <div class="mt-3 smaller text-truncate">
                      {{ message.message_text }}
                  </div>
                  <div class="mt-2 mb-2 smaller text-truncate text-muted fst-italic">
                    Traduction : {{ message.text_translation }}
                  </div>
                {% else %}
                  <div class="mb-1 smaller">
                    Entry does not contain any text
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="d-flex align-items-center user-select-none">
          <button type="submit" value="" class="btn me-auto shadow-none message-panel-button" id="previous-page">
            <img class="bi p-none" src="{% static 'dashboard/images/bootstrap-icons/chevron-left.svg' %}" width="18" height="18">
          </button>
          <div class="p-1 smaller">
            {% for page in pages %}
              <a id="{{ page }}" class="text-muted" name="page-number">{{ page }}</a>
            {% endfor %}
          </div>
          <button type="submit" value="" class="btn ms-auto shadow-none message-panel-button" id="next-page">
            <img class="bi p-none" src="{% static 'dashboard/images/bootstrap-icons/chevron-right.svg' %}" width="18" height="18">
          </button>
        </div>
      </div>

      <div class="d-none b-example-divider b-example-vr"></div>
    
      <div class="d-none flex-column align-items-stretch flex-shrink-0 bg-white p-3 resizable" style="width: 500px;" id="details">
        <div class="d-flex align-items-center flex-shrink-0 user-select-none">
          <img class="bi pe-none me-2" width="30" height="24" src="{% static 'dashboard/images/details.svg' %}" style="filter: invert(1);"></img>
          <span class="fs-4">Details</span>
        </div>
        <hr>
        <div id="message-detail" class="p-4 mx-n3 scrollarea"></div>
      </div>
    
      <div class="d-none b-example-divider b-example-vr"></div>

      <div class="d-none flex-column align-items-stretch flex-shrink-0 bg-white p-3 resizable" style="width: 700px;" id="quantitative-analysis">
        <div class="d-flex align-items-center flex-shrink-0 user-select-none">
          <img class="bi pe-none me-2" width="30" height="24" src="{% static 'dashboard/images/bootstrap-icons/graph-up.svg' %}"></img>
          <span class="fs-4">Quantitative analysis</span>
        </div>
        
        <div>
          <hr>
        </div>


        <div class="d-flex h-100 flex-wrap flex-row justify-content-between gap-2" id="graphs">
          <div class="d-flex flex-column flex-grow-* border border-secondary border-1 graph">
            <div class="d-flex align-items-center user-select-none p-2">
              <select class="smaller w-auto ms-auto select text-end form-control" required="" id="graph-selection">
                <option value="" selected="">---------</option>
                <option value="1">Post timeline</option>
                <option value="2">Post view timeline</option>
                <option value="3">Post share timeline</option>
              </select>
            </div>
            <div id="graph-1" class="d-block p-4 mx-n3 w-100 h-100"></div>
          </div>
          <div class="d-flex flex-column flex-grow-* border border-secondary border-1 graph graph-small">
            <div class="d-flex align-items-center user-select-none p-2">
              <select class="smaller w-auto ms-auto select text-end form-control" required="" id="graph-selection">
                <option value="" selected="">---------</option>
                <option value="1">Post timeline</option>
                <option value="2">Post view timeline</option>
                <option value="3">Post share timeline</option>
              </select>
            </div>
            <div id="graph-2" class="d-block p-4 mx-n3 w-100 h-100"></div>
          </div>
          <div class="d-flex flex-column flex-grow-* border border-secondary border-1 graph graph-small">
            <div class="d-flex align-items-center user-select-none p-2">
              <select class="smaller w-auto ms-auto select text-end form-control" required="" id="graph-selection">
                <option value="" selected="">---------</option>
                <option value="1">Post timeline</option>
                <option value="2">Post view timeline</option>
                <option value="3">Post share timeline</option>
              </select>
            </div>
            <div id="graph-3" class="d-block p-4 mx-n3 w-100 h-100"></div>
          </div>
        </div>
      </div>

      <div class="d-none b-example-divider b-example-vr"></div>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>