{% load static %}
<div class="d-flex align-items-center user-select-none">
    <img class="bi pe-none me-2" width="30" height="24" src="{% static 'dashboard/images/messages.svg' %}" style="filter: invert(1);"></img>
    <span class="fs-4">Messages</span>
    <button type="submit" value="" class="btn ms-auto shadow-none message-panel-button" id="sort-by-date" aria-label="Left Align">
      {% if parameters.message_sort_by_date == 'DOWN'  %}
        <img class="bi p-none" src="{% static 'dashboard/images/bootstrap-icons/sort-down.svg' %}" width="18" height="18">
      {% elif parameters.message_sort_by_date == 'UP'  %}
        <img class="bi p-none" src="{% static 'dashboard/images/bootstrap-icons/sort-up.svg' %}" width="18" height="18">
      {% endif %}
      </button>
    <form class="ms-1" action="csv-export" method="post">
      {% csrf_token %}
      <button type="submit" value="" class="btn shadow-none message-panel-button" id="csv-export" aria-label="Left Align">
        <img class="bi p-none" src="{% static 'dashboard/images/bootstrap-icons/filetype-csv.svg' %}" width="18" height="18">
      </button>
    </form>
  </div>
  <div>
    <hr>
  </div>
  <div class="list-group list-group-flush scrollarea" id="message-thread">
    {% if messages %}
      {% for message in messages %}
        <div value="{{ message.id }}" class="list-group-item list-group-item-action p-2 lh-sm user-select-none" id="message-container" aria-current="true">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1 text-truncate smaller">{{ message.channel_name }}</strong>
            <a href="https://t.me/{{ message.channel_name }}/{{ message.message_id }}" class="mb-1 text-muted text-decoration-none">
              <small class="text-muted smaller">{{ message.message_date }}</small>
            </a>
          </div>
          <span class="d-flex align-items-center justify-content-end">
            <div class="text-muted smaller me-1">
              {{ message.view_count }}
            </div>
            <img class="bi pe-none me-2" width="12" height="12" src="{% static 'dashboard/images/views.svg' %}" style="filter: invert(1);"></img>
            <div class="text-muted smaller me-1">
              {{ message.share_count }}
            </div>
            <img class="bi pe-none" width="12" height="12" src="{% static 'dashboard/images/shares.svg' %}" style="filter: invert(1);"></img>
          </span>
          {% if message.message_text %}
            <div class="mt-3 smaller text-truncate">
                {{ message.message_text }}
            </div>
            <div class="mt-2 mb-2 smaller text-truncate text-muted fst-italic">
              Traduction : {{ message.text_translation }}
            </div>
          {% else %}
            <div class="mb-1 smaller">
              Entry does not contain any text
            </div>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>